In [ ]:
import pandas as pd

Load the dataset

In [ ]:
file_path = '/content/Dataset Assignment 2.xlsx'

In [ ]:
data = pd.read_excel(file_path)

Remove Duplicates

In [ ]:
duplicates = data.duplicated()

In [ ]:
num_duplicates = duplicates.sum()

In [ ]:
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

Remove duplicate rows

In [ ]:
data_cleaned = data.drop_duplicates()

 Step 2: Handle Missing Values
 Identify missing values

In [ ]:
missing_values = data_cleaned.isnull().sum()

In [ ]:
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Route                      0
Departing Port             0
Arriving Port              0
Airline                    0
Month                      0
Sectors Scheduled          0
Sectors Flown              0
Cancellations              0
Departures On Time         0
Arrivals On Time           0
Departures Delayed         0
Arrivals Delayed           0
OnTime Departures \n(%)    0
OnTime Arrivals \n(%)      0
Cancellations \n\n(%)      0
dtype: int64

# Fill missing values

In [ ]:
for column in data_cleaned.columns:
    if data_cleaned[column].dtype == 'object':
        data_cleaned[column].fillna(data_cleaned[column].mode()[0], inplace=True)
    else:
        data_cleaned[column].fillna(data_cleaned[column].median(), inplace=True)

# Step 3: Correct Data Types

In [ ]:
data_cleaned['Month'] = pd.to_datetime(data_cleaned['Month'])

# Step 4: Standardize Formats

In [ ]:
categorical_columns = ['Route', 'Departing Port', 'Arriving Port', 'Airline']
for column in categorical_columns:
    data_cleaned[column] = data_cleaned[column].str.strip()

# Step 5: Check for Outliers

In [ ]:
numeric_columns = data_cleaned.select_dtypes(include=['number']).columns
outliers_info = {}
for column in numeric_columns:
    Q1 = data_cleaned[column].quantile(0.25)
    Q3 = data_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((data_cleaned[column] < (Q1 - 1.5 * IQR)) | (data_cleaned[column] > (Q3 + 1.5 * IQR)))
    outliers_info[column] = outliers.sum()
print("Outliers in each numeric column:\n", outliers_info)

Outliers in each numeric column:
 {'Sectors Scheduled': 1882, 'Sectors Flown': 1864, 'Cancellations': 2599, 'Departures On Time': 1678, 'Arrivals On Time': 1695, 'Departures Delayed': 2142, 'Arrivals Delayed': 2233, 'Cancellations \n\n(%)': 2161}

# Step 6: Save Cleaned Data

In [ ]:
cleaned_file_path = '/content/Dataset Assignment 2.xlsx'
data_cleaned.to_excel(cleaned_file_path, index=False)

# Display the first few rows of cleaned dataset

In [ ]:
data_cleaned.head()

,Route,Departing Port,Arriving Port,Airline,Month,Sectors Scheduled,Sectors Flown,Cancellations,Departures On Time,Arrivals On Time,Departures Delayed,Arrivals Delayed,OnTime Departures \n(%),OnTime Arrivals \n(%),Cancellations \n\n(%)
0,Adelaide-Brisbane,Adelaide,Brisbane,Jetstar,2020-01-01,30,27,3,18,19,9,8,66.666667,70.37037,10.000000
1,Adelaide-Gold Coast,Adelaide,Gold Coast,Jetstar,2020-01-01,31,30,1,15,14,15,16,50,46.666667,3.225806
2,Adelaide-Melbourne,Adelaide,Melbourne,Jetstar,2020-01-01,119,106,13,61,66,45,40,57.54717,62.264151,10.924370
3,Adelaide-Perth,Adelaide,Perth,Jetstar,2020-01-01,21,20,1,11,16,9,4,55.0,80,4.761905
4,Adelaide-Sydney,Adelaide,Sydney,Jetstar,2020-01-01,91,87,4,69,69,18,18,79.310345,79.310345,4.395604